{
	"env": {
		"es6": true,
		"node": true,
		"mocha": true
	},
	"plugins": ["mocha"],
	"extends": "eslint:recommended",
	"rules": {
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"linebreak-style": ["error", "unix"],
		"quotes": [
			"error",
			"single",
			{
				"allowTemplateLiterals": true
			}
		],
		"semi": ["error", "always"],
		"no-console": 0,
		"prefer-template": 2,
		"no-global-assign": ["error", { "exceptions": ["__logger"] }]
	},
	"globals": {
		"__logger": true
	}
}
